<!doctype html>
<html>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

<body>

<h2>heya</h2>

{% for s in detail %}

 {{ s.bio }}&emsp;{{s.location}}
 <br>
{% if s.profile_image %}
<img src="{{s.profile_image.url }}" class="img-responsive">
{% endif %}
<a href="{% url 'signup:InternForm' %}">Hire an intern</a><br><br>
{% endfor %}
<a href="{% url 'signup:logout' %}">logout</a>
</body>
</html>